name: Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  check:
    services:
      postgres:
        image: eqalpha/keydb
        ports:
          - "6379:6379"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Format check
        run: cargo fmt --verbose -- --check
      - name: Build
        run: cargo build --verbose --all-features
      - name: Test
        run: cargo test --verbose --all-features
        env:
          REDIS_URL: redis://localhost:6379/